.box{
   
    width: 420px;
    height: 200px;
    padding: 5px;
    margin-right: 5px;
    margin-block: 5px;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium  
}

.bg-gray{
    background-color: #c2d0e3;
}
.bg-blue{
    background-color: aqua;
}
.bg-darkblue{
    background-color: darkcyan;
}
p{
    margin-right: 150px;
    margin-left: 150px;
}
.top-container{
    background-color: #efeff0;
    padding-bottom: 1px;
    
}
.flex-container {
    display: flex;
     justify-content: center;
    }
    

    